body {
  background-color: #480ca8;
}

.header {
  color: white;
  padding: 4px;
  margin-bottom: 50px;
}
.input-methode {
  width: 450px;
  background-color: white;
  margin: auto;
  border-radius: 30px;
  text-align: center;
}

.input-data {
  width: 350px;
  height: 20px;
  outline: none;
  border-radius: 30px;
  border: none;
  padding: 10px;
  font-size: 16px;
}
.addBtn {
  color: red;
  cursor: pointer;
}

.item-div {
  margin: 40px auto;
  width: 800px;
}

.item-list {
  background-color: #ff5d8f;
  color: white;
  padding: 8px;
  border: 2px solid #ffbd00;
  border-radius: 4px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 7px;
}

@media (max-width: 700px) {
  .item-div {
    margin: 40px auto;
    width: 650px;
  }
}

.check {
  margin-right: 8px;
}

.editBtn {
  color: #480ca8;
  float: right;
  margin-right: 20px;
  cursor: pointer;
}

.delBtn {
  float: right;
  color: #480ca8;
  margin-right: 8px;
  cursor: pointer;
}

.item-list:hover {
  background-color: #38b000;
}
